<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

  <targets>
    <!-- 依日期、層級、使用者分檔，舊資料夾由 Global.asax 啟動時清除超過 7 天資料 -->
    <target xsi:type="File"
            name="levelLog"
            fileName="${basedir}/Log/${date:format=yyyy-MM-dd}/${level}/${date:format=yyyy-MM-dd}[${level}][${mdlc:item=userId:whenEmpty=Unknown}].log"
          layout="${date:format=HH\:mm\:ss.ffff} | ${level} | ${logger} | [${threadid}] | ${message}${onexception:inner= ${exception:format=tostring}}"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8" />

      <target xsi:type="File"
        name="requestTraceLog"
        fileName="${basedir}/Log/${date:format=yyyy-MM-dd}/Debug/${date:format=yyyy-MM-dd}[Debug][${mdlc:item=userId:whenEmpty=Unknown}].log"
        layout="${date:format=HH\:mm\:ss.ffff} | [${threadid}] | ${message}"
        concurrentWrites="true"
        keepFileOpen="false"
        encoding="utf-8" />

        <!-- Console 輸出，供開發環境使用 -->
    <target xsi:type="Console" 
            name="console"
          layout="${date:format=HH\:mm\:ss.ffff} | ${level} | ${logger:shortName=true} | ${message}" />

        <!-- 資料庫輸出，保留擴充使用 -->
    <target xsi:type="Database" 
            name="database"
            connectionString="${connectionstrings:DefaultConnection}">
      <commandText>
        INSERT INTO jetf.dbo.LOG_REC (DATADATE, FUN_INDEX, FUN_DATADATE, FUN_TYPE, FUN_FILENAME, FUN_MEMO, USER_ID, USER_IP, LOG_TIME)
        VALUES (CONVERT(date, GETDATE()), @logger, CONVERT(date, GETDATE()), @level, '', @message, @userId, @userIp, GETDATE())
      </commandText>
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@userId" layout="${mdlc:item=userId:whenEmpty=Unknown}" />
      <parameter name="@userIp" layout="${mdlc:item=userIp:whenEmpty=Unknown}" />
    </target>
  </targets>

  <rules>
    <logger name="RequestTrace" minlevel="Debug" maxlevel="Debug" writeTo="requestTraceLog" final="true" />
    <logger name="Service.Services.DownloadEtlNew.DownloadEtlNewService" minlevel="Debug" writeTo="levelLog" />
    <logger name="*" minlevel="Info" writeTo="levelLog" />
    
    <!-- 僅在開發環境輸出到 Console -->
    <logger name="*" minlevel="Debug" writeTo="console">
      <when condition="environment('ASPNETCORE_ENVIRONMENT') == 'Development'" />
    </logger>

    <!-- 資料庫輸出目前停用 -->
    <!-- <logger name="ActionLog" minlevel="Info" writeTo="database" /> -->
  </rules>
</nlog>
